html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('https://i.pinimg.com/originals/42/95/5f/42955f3b02ba57e358d388f5077a9066.jpg'); 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: darkgray;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 4rem;
}

#text3d {
    font-family: helvetica;
    text-transform: uppercase;
    text-align: center;
    color: #615b5b;
    text-shadow: #1b4647 3px 5px 0,
                 rgb(133, 212, 186) 4px 6px 3px,
                 rgb(9, 110, 110) 8px 11px 10px;
  }

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(10deg, #2cc0c0 0%, #070707 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 *Styles for the Modal
 */
.hide {
    display: none;
}
.modal_background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.738);
}

.modal_body {
    position: relative;
    width: 400px;
    top: 50%;
    left: 50%;
    background: #93e0e0;
    transform: translate(-50%, -70%);
}

.modal_button {
    width: 100px;
    height: 50px;
}

.modal_buttons {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.modal_close {
    font-weight: bolder;
    font-size: 2.5rem;
}

.modal_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.modal_stats {
    color: rgb(95, 92, 92);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    padding: 2rem;
}

.modal_title {
    color: rgb(70, 68, 68);
    font-size: 2rem;
    font-weight: bold;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    color: white;
    font-size: 1.5rem;
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    padding: 5px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    color: rgb(248, 248, 151);
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    color: darkgrey;
    float: right;
    cursor: pointer;
}
